html {
    font-family: Lato, sans-serif;
}

.center__logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.center__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 640px;
    height: 250px;

}

ul {
    padding-inline-start: 0px;
}

.display__button {
    background-color: #3cd0ff;
    border:none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.display__button:hover{
    background-color: #30a2c5;
    cursor: pointer;

}

h1 { 
        color: #262747;
}

p { color: #262747;

}

.footer{
    background-color:  #262747;
    padding: 25px 0;
    margin: 50px 0 0 0;
    border-top: 4px solid black;
    color: white;
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:1;
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer2{
    background-color:  #262747;
    padding: 25px 0;
    margin: 50px 0 0 0;
    border-top: 4px solid black;
    color: white;
    left:0px;
    bottom:0px;
    z-index:1;
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.my_logo {
    width: 215px;
    height: 45px;
    padding-right: 150px;

}

.footer__content{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer2 .left{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer2 .right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__coloumn{
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.footer__item{
    margin-bottom: 5px;


}

.footer__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.task1__header { 
    display: flex;
    align-items: center;
    justify-content: center;
}


.barcharts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.barchart1 {
    margin-right: 60px;
}


.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.airline__button__list {
    width: 90%;
    margin: auto;
    
}
.airline__button {
    background-color: #3cd0ff;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0px;
    height: 40px;
    width: 75px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.airline__button:hover{
    background-color: #3496b4;
    cursor: pointer;

}


.piechart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}















.highlight {
    fill: palevioletred;
}




#tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 400px;
    margin-top: 10px;
    background-color: #3cd0ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#tooltip.hidden{
    display: none;
}

#tooptip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color:  white;
}

#tooltip2 {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 400px;
    margin-top: 10px;
    background-color: #3cd0ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#tooltip2.hidden{
    display: none;
}

#tooptip2 p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#tooltip3 {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: auto;
    padding: 10px;
    margin-left: 700px;
    background-color: #3cd0ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;

}

#tooltip3.hidden{
    display: none;
}

#tooptip3 p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}