<!-- Final Report -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSC40088</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="report">
        <h1>
            CSC40088 Fundamentals of Computer Science: Task 2
        </h1>
        <h3>Question 2.1: What extra features have you added in Task 1.1, and why? </h3>
        <h4>1st, Extra bar chart</h4>
        <p>
            For the first extra feature a second interactive bar chart was added to the visualisation. The reason for this was with the 
            previous single bar chart version, users may have found it difficult to compare the different airlines. Data comparison 
            is important it allows the viewer to draw conclusions and make decisions based on the data they have been presented (Roller, 2011).
            So I thought I should make it as easy as possible for the user to compare the data shown to them.  Adding the second bar chart makes 
            it much easier to draw comparisons, as the user no longer has to memorise the values they are interested in.  To use the two bar charts 
            simply select the airlines you require from the buttons above the graphs and then the corresponding data will be displayed in the bar charts below. 
        </p>

        <h4>2nd, Bar chart tool tip</h4>
        <p>
            The next feature added was an interactive tool tip “A tooltip is a brief, informative message that appears when a user interacts with 
            an element in a graphical user interface (GUI)” (Joyce, 2019). The reason I added a tooltip was I realised it may be difficult for the 
            user to determine the exact value of tweets from the scale on the y axis. So the decision was made to add a tool tip so when the user 
            hovers over there mouse over the individual bars, a bubble appears displaying the exact value of tweets of that bar. This makes it much easier 
            for the user to determine the exact amount of tweets of each sentiment. 
        </p>

        <h4>3rd, Pie chart</h4>
        <p>
            The next feature that was added was a pie chart displaying the total amount of tweets that each airline received. The reason this feature was 
            added was to show to the user the total share of that each airline received so the user can draw conclusions from this set of data. Pie charts
            are considered by some to be a bad way of communicating data because humans find it difficult to determine angles. (Randle, 2015) I address 
            this issue with my next feature. The reason I chose a pie chart over another bar chart is “that their circular shape efficiently conveys to the
            viewer that they are looking at the proportion of a whole. With a bar chart, this can only be understood by reading the percentage sign in the
            axis labels.” (Randle, 2015) The pie chart also adds a more colourful dynamic to the visualisation keeping the user interested. 

        </p>

        <h4>4th, Pie chart tool tip</h4>
        <p>
            The next feature was to add a tool tip to the pie chart, this would be to address the issue that humans find it difficult to determine percentage
            off angles. (Randle, 2015) This tool tip again displays a bubble but this time contains the full airline name instead of initials as some people 
            may not understand this, the total tweets that airline received, and finally the percentage of that particular slice. So if the user is having 
            difficulty understanding what share that piece of the pie is, they can easily gain more insight by hovering over that slice. 
        </p>


        <hr>


        <h3>Question 2.2: What are the security issues of Web Socket, and what can be done to secure Web Socket? You need to relate this to the security features you have implemented in Task 1.2.</h3>
        <p>
            WebSocket’s are inherently vulnerable to security issues as they allow for bidirectional communication between a client and a server so theoretically
            anything malicious can be sent over this communication link.
            <br><br>
            The most common security threats to WebSocket’s are as follows:

        </p>

        <ul>
            <li>DoS Attacks – Unlimited requests can be made to the server using which overwhelms the server making the target service unusable. (Kovacic, 2021)</li>
			<li>No Authentication During the Handshake Process - WebSocket protocol doesn’t let a server authenticate the client during the handshake process. (Kovacic, 2021)</li>
			<li>Unencrypted TCP Channels - WebSocket’s can be used over an unencrypted TCP channel. (Kovacic, 2021)</li>
            <li>Vulnerability to Input Data Attacks – vulnerable to SQL injections and cross site scripting. (Kovacic, 2021)</li>
			<li>Data Masking - Masking prevents security tools from actions like identifying a pattern in the traffic. (Kovacic, 2021)</li>
            <li>Authorization/Authentication – WebSocket’s don’t handle authorization/authentication (Kovacic, 2021)</li>
			<li>Tunnelling - WebSocket’s let anyone tunnel an arbitrary TCP service. (Kovacic, 2021)</li>
            <li>Sniffing Attacks -  WebSocket protocol is done in plain text, similar to HTTP. Therefore, this data is vulnerable to man-in-the-middle attacks. (Kovacic, 2021)</li>
        </ul>

        <p>
            “Denial-of-Service or DOS is one of the most common types of threat to network applications and hosting services.” (Karlström, 2015) WebSocket’s like other networking 
            protocols are not immune to DOS attack. It is important our WebSocket is able to protect against them to limit frustrating downtime for the users. One way to do this 
            is to “Limit the number of requests which a user can make during a certain time interval.” (Karlström, 2015) This is what is known as rate limiting. If the server registers 
            that the client has made too many requests in a specified time frame, the server will cut the connection off to the user not allowing them to access the website for a period 
            of time. Effectively stopping DOS attacks. 
        </p>
        <p>
            The way I implemented it in my solution was by making use of the “Flask-Limiter” library. 
            The Flask-Limiter library allows the developer to “configure various rate limits at different levels”. (Saifee, 2021) The developer can implement rate limiting with only a
            few lines of code at the start of the flask application, making it very simple to use. I opted to allow the user 2000 requests an hour and 10000 per day. Which would let the
            user send up to 10000 messages a day which I think is more than adequate.
        </p>
        <p>
            WebSocket’s like other network protocols are vulnerable to input data attacks. Cross site scripting and SQL injections could be performed using a WebSocket (Karlström, 2015). 
            SQL injection  “is a common attack vector that uses malicious SQL code for backend database manipulation to access information that was not intended to be displayed.” (Imperva, 
            2022) To prevent these malicious attacks input data must first be validated before it is used. I implemented input validation in two different ways. Firstly I used HTML to prevent
            the user from entering any more than 15 characters for the handle and 250 characters for the message. This stops the user from importing enormous messages that would overwhelm the 
            system. The next way I implemented input validation was by using JavaScript to check the inputted handle and text for common SQL commands. If the server detects one of these commands
             it will reject the message and cause an error. 
        </p>


        <hr>


        <h3>Question 2.3: What are the things you found particularly challenging in completing Task 1, and how can you improve your approach to these tasks?</h3>
        <h4>1st, Tool tips</h4>
        <p> 
			When using a tool tip they seem so simple, so going into it I thought they would be quite simple to implement. Unfortunately I found them quite difficult 
            to implement, the two reasons for this were me being new to JavaScript and being overwhelmed by example code online. Which in turn made me stressed which 
            clouded my judgement. The way I eventually figured out a solution was to break down the problem, a tooltip is just a hidden object that you need to be shown when
            the mouse hovers over an object. Which doesn’t sound too difficult. 
		</p>
        <p>
            To improve my approach going forward instead of going in and trying to write code straight away and becoming stressed. My new approach will be to analyse and 
            think about the problem first, then break down the problem to smaller problems, then write some pseudo code before finally producing a working solution with 
            real code. (GeeksforGeeks, 2021)
        </p>

        <h4>2nd, Rate limiting</h4>
        <p>
            Rate limiting took me a long time to implement, like the previous task I was doing research and getting overwhelmed by the wealth of data online and the different ways 
            to implement such a solution. I attempted numerous solutions to implement rate limiting, none of which were successful and eventually gave up and moved on to looking at 
            different security options. The thought then occurred to me that there may be a library for implementing rate limiting. After some research I found my thought was correct 
            and there are library’s for implementing rate limiting. So I picked one and implemented it into my solution. 
        </p>

        <p>
            To improve my approach going forward instead of trying to reinvent the wheel for certain tasks I will research library’s to see if there is a solution to the 
            problem first (Kumar, 2020). This will reduce development time and stress while also making my solution more reliable these library’s will have had hundreds 
            of hours of poured into them and will be bug tested by the community. (Kumar, 2020)

        </p>



        <hr>

        <h3>References</h3>

        <p>
            Imperva, 2022. SQL (Structured query language) Injection. [Online] Available at: https://www.imperva.com/learn/application-security/sql-injection-sqli/#:~:text=SQL%20injection%2C%20also%20known%20as,lists%20or%20private%20customer%20details.[Accessed 06 March 2022].
            <br><br>

            Joyce, A., 2019. Tooltip Guidelines. [Online] Available at: https://www.nngroup.com/articles/tooltip-guidelines/#:~:text=Definition%3A%20A%20tooltip%20is%20a,through%20a%20keyboard%2Dhover%20gesture.[Accessed 06 March 2022].
            <br><br>
            Karlström, J., 2015. The WebSocket Protocol and Security: Best, Oulu: s.n.
            <br><br>
            Kovacic, D., 2021. WebSocket Security: Top 8 Vulnerabilities and How to Solve Them. [Online] Available at: https://brightsec.com/blog/websocket-security-top-vulnerabilities/[Accessed 06 March 2022].
            <br><br>
            Kumar, V., 2020. HOW TO GET STARTED WITH EXTERNAL CODE LIBRARIES?. [Online] Available at: https://www.analyticsinsight.net/how-to-get-started-with-external-code-libraries/#:~:text=A%20code%20library%20typically%20allows,the%20reliability%20of%20the%20software.[Accessed 06 March 2022].
            <br><br>
            Randle, T., 2015. What do you mean I'm not supposed to use Pie Charts?!. [Online] Available at: https://www.geckoboard.com/blog/pie-charts/#:~:text=The%20case%20against%20pie%20charts,reading%20accurate%20values%20is%20difficult.[Accessed 06 March 2022].
            <br><br>
            Roller, C., 2011. The Power of Comparison: How It Affects Decision Making. [Online] Available at: https://www.uxmatters.com/mt/archives/2011/01/the-power-of-comparison-how-it-affects-decision-making.php[Accessed 06 March 2022].
            <br><br>
            Saifee, A.-A., 2021. Flask-Limiter. [Online] Available at: https://flask-limiter.readthedocs.io/en/stable/[Accessed 06 March 2022].

        </p>

    </div>
</body>
</html>
 