<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <title>Visualisation</title>
</head>

<body>
    <main class="main">

        <header class="task1__header">
        <h1>Twitter US Airline Sentiment - Visualisation</h1>
        </header>

        
        <p class="description">
            The bar charts below showcase individual airlines overall tweet sentiment. <br>
            Please use the 2 graphs to compare airlines.
        </p>


        <section class="barcharts">

        <section class = "barchart1">

        <p class="description">
            Click button's below to view that airline's sentiment rating. <br>
            Hover mouse over the bar's to gain more insight.
        </p>

        <ul class="airline__button__list">
            <button class="airline__button" onclick="update(data1)">American Airlines</button>
            <button class="airline__button" onclick="update(data2)">Delta Airlines</button>
            <button class="airline__button" onclick="update(data3)">Southwest Airlines</button>
            <button class="airline__button" onclick="update(data4)">US <br> Airways</button>
            <button class="airline__button" onclick="update(data5)">United Airlines</button>
            <button class="airline__button" onclick="update(data6)">Virgin America</button>
        </ul>

        <div id="tooltip" class="hidden">
                <p><strong>Tweets: &nbsp;</strong></p>
                <p><span id="value"> 100</span></p>

        </div>

        <div id="airline_barchart" class="airline__barcharts">
            <script src="/static/js/graph.js"></script>
        </div>

        </section>


        <section class = "Barchart2">

            <p class="description">
                Click button's below to view that airline's sentiment rating.<br>
                Hover mouse over the bar's to gain more insight.
            </p>
    
            <ul class="airline__button__list">
                <button class="airline__button" onclick="update2(data7)">American Airlines</button>
                <button class="airline__button" onclick="update2(data8)">Delta Airlines</button>
                <button class="airline__button" onclick="update2(data9)">Southwest Airlines</button>
                <button class="airline__button" onclick="update2(data10)">US <br> Airways</button>
                <button class="airline__button" onclick="update2(data11)">United Airlines</button>
                <button class="airline__button" onclick="update2(data12)">Virgin America</button>
            </ul>
    
            <div id="tooltip2" class="hidden">
                    <p><strong>Tweets: &nbsp;</strong></p>
                    <p><span id="value">100</span></p>
    
            </div>
    
            <div id="airline_barchart2" class="airline__barcharts">
                <script src="/static/js/graph2.js"></script>
            </div>
    
            </section>
        </section>
        

        <section class="piechart">
            <h1>Overall tweet percentage - Pie Chart</h1>

            <p class="description">
                The below graph visualises the amount of overall tweets each airline received in the time period. <br>
                Please hover over slices to gain more insight.
            </p>

            <div id="tooltip3" class="hidden">
                <p><strong>Airline:</strong></p>
                <p><span id="airline_name">American</span></p>
                <p><strong>Tweets:</strong></p>
                <p><span id="tweets">100</span></p>
                <p><strong>Percentage:</strong></p>
                <p><span id="percent">70%</span>%</p>

            </div>

            <div id="my_piechart" >
                <div id="my_dataviz"> 
                    <script src="/static/js/piechart.js"></script>
                </div>
    
                <!-- Color scale -->
                <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
            </div>


        </section>

    </main>

    <div class="spacer"></div>


    <footer class="footer2">
        <div class="footer__content">
            <section class="left">
                <img class="my_logo" src="/static/data/my_logo.png">

            </section>

            <section class="right">
                <div class="footer__coloumn">
                    <a class ="footer__item" onclick="parent.location='/'">Home Page </a>
                    <a class = "footer__item" onclick="parent.location='task1'">Task 1.1</a>
                </div>

                <div class="footer__coloumn">
                    <a class ="footer__item" onclick="parent.location='task2'">Task 1.2</a>
                    <a class = "footer__item" onclick="parent.location='task3'">Task 1.3</a>

                </div>

            </section>
    
</body>
    
</body>
</html>