<!-- Final Report -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSC40088</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="report">
        <h1>
            CSC40088 Fundamentals of Computer Science: Task 2
        </h1>
        <h3>Question 2.1: What extra features have you added in Task 1.1, and why? </h3>
        <p>
            Your answers.
        </p>
        <hr>
        <h3>Question 2.2: What are the security issues of Web Socket, and what can be done to secure Web Socket? You need to relate this to the security features you have implemented in Task 1.2.</h3>
        <p>
            Your answers.
        </p>
        <hr>
        <h3>Question 2.3: What are the things you found particularly challenging in completing Task 1, and how can you improve your approach to these tasks?</h3>
        <p> 
			Your answers.
		</p>
        <hr>
        
        <h5>Note: You can also provide your answers in bullet points</h5>
        <ul>
            <li>Your answers...</li>
			<li>Your answers...</li>
			<li>Your answers...</li>
        </ul>
    </div>
</body>
</html>
 